* {
    margin: 0;
    padding: 0;
}

html, body {
    background: #404040;
    font-size: 14px;
    font-family: Courier;
}

h1 {
    color: #FFFFFF;
    font-size: 200%;
    padding: 10px;
}

h2 {
    color: #EEEEEE;
    font-size: 160%;
    padding: 5px;
}

#container {
    background: #303030;
    margin: 0 auto;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    width: 90%;
}

#container .input-content, #container .output-content {
    border: 1px solid #202020;
    min-height: 300px;
    width: 75%;
}

#container .submit-button {
    background: yellowgreen;
    color: #202020;
    display: block;
    margin: 5px auto;
    padding: 10px;
}